In [27]:
# Dependencies
import pandas as pd

In [28]:
# Store filepath in a variable
#Source: kaggle - 2016 FBI reports
crime_csv = "ca_offenses_by_city2.csv" ####### wrong csv

In [29]:
# Read Crime Data file with the pandas library
crime_df = pd.read_csv(crime_csv)

In [30]:
# Show just the header
crime_df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Rape (legacy definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Adelanto,33005,212,2,14,NaN,48,148,832,434,254,120,24
1,Agoura Hills,20970,15,0,1,NaN,6,8,310,82,217,11,0
2,Alameda,78613,148,2,7,NaN,61,78,1837,228,1245,346,18
3,Albany,19723,34,1,6,NaN,16,11,605,95,447,63,0
4,Alhambra3,86175,168,1,13,NaN,74,80,1935,305,1413,211,6

In [31]:
clean_df = crime_df.drop(columns= "Rape (legacy definition)")
clean_df

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Adelanto,33005,212,2,14,48,148,832,434,254,120,24
1,Agoura Hills,20970,15,0,1,6,8,310,82,217,11,0
2,Alameda,78613,148,2,7,61,78,1837,228,1245,346,18
3,Albany,19723,34,1,6,16,11,605,95,447,63,0
4,Alhambra3,86175,168,1,13,74,80,1935,305,1413,211,6
...,...,...,...,...,...,...,...,...,...,...,...,...
455,Yountville3,3030,7,0,0,0,7,46,7,36,3,0
456,Yreka,7507,47,1,4,4,38,310,85,188,36,1
457,Yuba City,65974,216,0,28,66,122,1806,429,1160,203,14
458,Yucaipa,53498,94,2,8,22,62,1321,263,838,208,12
459,Yucca Valley,21672,151,0,8,30,113,672,217,381,66,8

In [32]:
clean_df.describe()

,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
count,4.600000e+02,460.000000,460.000000,460.000000,460.000000,460.000000,460.000000,460.000000,460.000000,460.000000,460.000000
mean,7.027700e+04,298.580435,3.165217,23.202174,101.995652,170.217391,1931.480435,352.671739,1252.043478,313.497826,13.267391
std,2.127647e+05,1327.284267,14.971101,110.957275,495.037487,721.286288,5789.240491,964.779126,3831.857671,1018.758220,60.293764
min,1.150000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,2.000000,0.000000,0.000000
25%,1.217950e+04,29.000000,0.000000,2.000000,5.000000,18.000000,283.250000,54.750000,170.750000,24.750000,1.000000
50%,3.280000e+04,85.000000,1.000000,7.000000,22.000000,49.500000,743.000000,152.500000,488.000000,89.000000,4.000000
75%,7.474075e+04,212.250000,2.000000,18.000000,70.000000,128.000000,1896.250000,342.500000,1243.250000,287.500000,10.000000
max,3.962726e+06,25156.000000,282.000000,2209.000000,8952.000000,13713.000000,94634.000000,16160.000000,61191.000000,16152.000000,1131.000000

In [33]:
clean_df = clean_df.rename(columns={ "City": "neighborhood name"})
clean_df.head()

,neighborhood name,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Adelanto,33005,212,2,14,48,148,832,434,254,120,24
1,Agoura Hills,20970,15,0,1,6,8,310,82,217,11,0
2,Alameda,78613,148,2,7,61,78,1837,228,1245,346,18
3,Albany,19723,34,1,6,16,11,605,95,447,63,0
4,Alhambra3,86175,168,1,13,74,80,1935,305,1413,211,6

In [34]:
#Calculated Crime rate [CR Formula = (# reported crime/total population)*100,000] ~interpretation: per 100,000 of general population, there are 1,549.83 crimes that occur in Agoura Hills
clean_df["Total Crimes"] = clean_df["Violent crime"] + clean_df["Property crime"]
clean_df["Crime Rate"]= round((clean_df["Total Crimes"]/clean_df["Population"])*100000, 2)
clean_df.head()

,neighborhood name,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson,Total Crimes,Crime Rate
0,Adelanto,33005,212,2,14,48,148,832,434,254,120,24,1044,3163.16
1,Agoura Hills,20970,15,0,1,6,8,310,82,217,11,0,325,1549.83
2,Alameda,78613,148,2,7,61,78,1837,228,1245,346,18,1985,2525.03
3,Albany,19723,34,1,6,16,11,605,95,447,63,0,639,3239.87
4,Alhambra3,86175,168,1,13,74,80,1935,305,1413,211,6,2103,2440.38

In [35]:
#Use to look up neighborhoods that will match clean data (for the purposes of inner join matching)
unique_neigbh = clean_df["neighborhood name"].unique()
unique_neigbh

array(['Adelanto', 'Agoura Hills', 'Alameda', 'Albany', 'Alhambra3',
       'Aliso Viejo', 'Alturas3', 'American Canyon3', 'Anaheim3',
       'Anderson', 'Antioch', 'Apple Valley', 'Arcadia', 'Arcata',
       'Arroyo Grande', 'Artesia', 'Arvin', 'Atascadero3', 'Atherton',
       'Atwater Village', 'Auburn', 'Avalon', 'Avenal3', 'Azusa',
       'Bakersfield', 'Baldwin Park', 'Banning', 'Barstow', 'Bear Valley',
       'Beaumont', 'Bell', 'Bellflower', 'Bell Gardens', 'Belmont',
       'Belvedere', 'Benicia', 'Berkeley', 'Beverly Hills',
       'Big Bear Lake', 'Biggs3', 'Bishop', 'Blythe', 'Bradbury',
       'Brawley3', 'Brea3', 'Brentwood', 'Brisbane', 'Broadmoor',
       'Buellton3', 'Buena Park', 'Burbank', 'Burlingame', 'Calabasas',
       'Calexico3', 'California City', 'Calimesa', 'Calistoga',
       'Camarillo', 'Campbell', 'Canyon Lake', 'Capitola', 'Carlsbad',
       'Carmel', 'Carpinteria', 'Carson', 'Cathedral City',
       'Central Marin', 'Ceres', 'Cerritos', 'Chico3', 'Chino',
       'Chino Hills', 'Chowchilla', 'Chula Vista', 'Citrus Heights',
       'City of Angels3', 'Claremont3', 'Clayton', 'Clearlake3',
       'Cloverdale', 'Clovis', 'Coachella', 'Coalinga', 'Colma3',
       'Colton', 'Colusa3', 'Commerce', 'Compton', 'Concord', 'Corcoran3',
       'Corning', 'Corona', 'Coronado', 'Costa Mesa', 'Cotati', 'Covina',
       'Crescent City', 'Cudahy', 'Culver City', 'Cupertino', 'Cypress3',
       'Daly City', 'Dana Point', 'Danville', 'Davis', 'Delano',
       'Del Mar', 'Del Rey Oaks', 'Desert Hot Springs', 'Diamond Bar',
       'Dinuba3', 'Dixon', 'Dorris3', 'Dos Palos', 'Downey', 'Duarte',
       'Dublin', 'Dunsmuir3', 'East Palo Alto', 'Eastvale', 'El Cajon',
       'El Centro3', 'El Cerrito', 'Elk Grove', 'El Monte3', 'El Segundo',
       'Emeryville3', 'Encinitas', 'Escalon', 'Escondido', 'Etna3',
       'Eureka3', 'Exeter3', 'Fairfax', 'Fairfield', 'Farmersville',
       'Ferndale3', 'Fillmore', 'Firebaugh', 'Folsom', 'Fontana',
       'Fort Bragg', 'Fort Jones3', 'Fortuna3', 'Foster City3',
       'Fountain Valley', 'Fowler', 'Fremont', 'Fresno', 'Fullerton',
       'Galt', 'Gardena', 'Garden Grove', 'Gilroy', 'Glendale',
       'Glendora3', 'Goleta', 'Gonzales', 'Grand Terrace', 'Grass Valley',
       'Greenfield', 'Gridley3', 'Grover Beach3', 'Guadalupe', 'Gustine',
       'Hanford3', 'Hawaiian Gardens', 'Hawthorne', 'Hayward',
       'Healdsburg3', 'Hemet', 'Hercules', 'Hermosa Beach', 'Hesperia',
       'Hidden Hills', 'Highland', 'Hillsborough', 'Hollister',
       'Holtville3', 'Hughson3', 'Huntington Beach', 'Huntington Park',
       'Huron', 'Imperial3', 'Imperial Beach', 'Indian Wells', 'Indio',
       'Industry', 'Inglewood', 'Ione', 'Irvine', 'Irwindale3', 'Isleton',
       'Jackson3', 'Jurupa Valley', 'Kensington', 'Kerman', 'King City',
       'Kingsburg', 'La Canada Flintridge', 'Lafayette', 'Laguna Beach',
       'Laguna Hills', 'Laguna Niguel', 'Laguna Woods3', 'La Habra',
       'La Habra Heights', 'Lake Elsinore', 'Lake Forest', 'Lakeport',
       'Lake Shastina3', 'Lakewood', 'La Mesa', 'La Mirada', 'Lancaster',
       'La Palma', 'La Puente', 'La Quinta', 'La Verne3', 'Lawndale',
       'Lemon Grove', 'Lemoore3', 'Lincoln', 'Lindsay3', 'Livermore',
       'Livingston', 'Lodi3', 'Loma Linda', 'Lomita', 'Long Beach',
       'Los Alamitos3', 'Los Altos', 'Los Altos Hills', 'Los Angeles',
       'Los Banos', 'Los Gatos', 'Lynwood', 'Madera', 'Malibu',
       'Mammoth Lakes', 'Manhattan Beach', 'Manteca', 'Marina',
       'Martinez', 'Marysville', 'Maywood', 'McFarland', 'Menifee',
       'Mendota', 'Menlo Park3', 'Merced', 'Mill Valley', 'Milpitas',
       'Mission Viejo', 'Modesto', 'Monrovia', 'Montague3', 'Montclair',
       'Montebello', 'Monterey', 'Monterey Park', 'Monte Sereno',
       'Moorpark', 'Moraga', 'Moreno Valley', 'Morgan Hill3', 'Morro Bay',
       'Mountain View', 'Mount Shasta3', 'Murrieta', 'Napa',
       'National City', 'Needles', 'Nevada City3', 'Newark', 'Newman',
       'Newport Beach', 'Norco', 'Norwalk', 'Novato', 'Oakdale',
       'Oakland', 'Oakley', 'Oceanside', 'Ojai', 'Ontario', 'Orange3',
       'Orange Cove', 'Orinda', 'Orland3', 'Oroville3', 'Oxnard',
       'Pacifica', 'Pacific Grove', 'Palmdale', 'Palm Desert',
       'Palm Springs', 'Palo Alto', 'Palos Verdes Estates', 'Paradise3',
       'Paramount', 'Parlier', 'Pasadena', 'Paso Robles', 'Patterson3',
       'Perris', 'Petaluma', 'Pico Rivera', 'Piedmont', 'Pinole',
       'Pismo Beach3', 'Pittsburg', 'Placentia3', 'Placerville3',
       'Pleasant Hill', 'Pleasanton', 'Pomona3', 'Porterville',
       'Port Hueneme', 'Poway', 'Rancho Cordova', 'Rancho Cucamonga',
       'Rancho Mirage', 'Rancho Palos Verdes', 'Rancho Santa Margarita',
       'Red Bluff', 'Redding', 'Redlands', 'Redondo Beach',
       'Redwood City', 'Reedley', 'Rialto', 'Ridgecrest', 'Rio Dell3',
       'Rio Vista', 'Ripon', 'Riverbank3', 'Riverside', 'Rocklin',
       'Rohnert Park', 'Rolling Hills', 'Rolling Hills Estates',
       'Rosemead', 'Roseville', 'Ross', 'Sacramento', 'Salinas',
       'San Bernardino', 'San Bruno', 'San Clemente', 'Sand City',
       'San Diego', 'San Dimas', 'San Fernando3', 'San Francisco',
       'San Gabriel3', 'Sanger', 'San Jacinto', 'San Jose',
       'San Juan Capistrano', 'San Leandro', 'San Luis Obispo',
       'San Marcos', 'San Marino3', 'San Mateo', 'San Pablo',
       'San Rafael', 'San Ramon', 'Santa Ana3', 'Santa Barbara3',
       'Santa Clara', 'Santa Clarita', 'Santa Cruz3', 'Santa Fe Springs3',
       'Santa Maria', 'Santa Monica', 'Santa Paula3', 'Santa Rosa3',
       'Santee', 'Saratoga', 'Sausalito', 'Scotts Valley3', 'Seal Beach',
       'Seaside', 'Sebastopol3', 'Selma', 'Shafter', 'Sierra Madre',
       'Signal Hill', 'Simi Valley', 'Solana Beach', 'Soledad', 'Solvang',
       'Sonoma3', 'Sonora3', 'South El Monte', 'South Gate',
       'South Lake Tahoe3', 'South Pasadena', 'South San Francisco',
       'Stallion Springs', 'Stanton', 'St. Helena', 'Stockton',
       'Suisun City', 'Sunnyvale', 'Susanville3', 'Sutter Creek3', 'Taft',
       'Tehachapi', 'Temecula', 'Temple City', 'Thousand Oaks',
       'Tiburon3', 'Torrance', 'Tracy', 'Truckee', 'Tulare', 'Tulelake3',
       'Turlock3', 'Tustin3', 'Twentynine Palms', 'Ukiah', 'Union City',
       'Upland', 'Vacaville', 'Vallejo', 'Ventura', 'Vernon3',
       'Victorville', 'Villa Park', 'Visalia', 'Vista', 'Walnut',
       'Walnut Creek', 'Waterford3', 'Watsonville', 'Weed', 'West Covina',
       'West Hollywood', 'Westlake ', 'Westminster', 'Westmorland3',
       'West Sacramento', 'Wheatland', 'Whittier', 'Wildomar',
       'Williams3', 'Willits', 'Willows', 'Windsor', 'Winters',
       'Woodlake3', 'Woodland', 'Yorba Linda', 'Yountville3', 'Yreka',
       'Yuba City', 'Yucaipa', 'Yucca Valley'], dtype=object)

In [10]:
len(unique_neigbh)

460

In [26]:
crime_rate_df = clean_df[["neighborhood name", "Crime Rate"]]
crime_rate_df.head(40)

KeyError: "['Crime Rate'] not in index"

In [8]:
# Export file as a CSV, without the Pandas index, but with the header (file to be used in merging)
clean_df.to_csv("Output/crime_rate.csv", index=False, header=True)